.texto_primario {
    color: rgb(192, 255, 1);
    background-color: rgb(68, 255, 0);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 1.7;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    white-space: nowrap;
}
.texto_secundario {
    color: rgb(239, 0, 0);
    background-color: rgb(0, 255, 242);
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    line-height: 1;
    text-decoration: line-through;
    text-transform: lowercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    white-space: nowrap;
}