body {
    height: 1000px;
    position: relative;
}
.estatico {
    position: static;
    background-color: blue;
    padding: 10px;
}
.relativo {
    position: relative;
    background-color: green;
    padding: 10px;
    top: 50px;
    left: 50px;
}
.fijo {
    position: fixed;
    background-color: red;
    color:aqua;
    padding: 10px;
    bottom: 50px;
    right: 50px;
}

.absoluto {
    position: absolute;
    background-color: purple;
    color: white;
    padding: 10px;
    top: 150px;
    left: 150px;
}